h1,
h2,
h3,
h4 {
    text-align: center;
}
.nav {
    background: #000d00;
}

.nav a[href] {
    color: white;
}

.nav h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 3vw;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}
