{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scaie=1, shrink-to-fit=no" />
    <title>Programmieren fuer Sozialwissenschaftler*innen</title>
    <link rel="stylesheet" type="text/css" href="{% static "exercises/css/code.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "exercises/css/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "exercises/css/base.css" %}">
  </head>

  <body>

    <nav class="bg-dark">
      <h1><a href="/">Programmieren fuer Sozialwissenschaftler*innen<a></h1>

      <div class="alert alert-secondary" role="alert" align="center">
    <div class="container">
    {% if user.email %}

      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Logged in as {{ user.email }}</li>
        <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
      </ul>

    {% else %}

      <form class="navbar-form navbar-right"
            method="POST"
            action="{% url 'accounts:send_login_email' %}">
       <div class="row">
        <div class="col">
        <input class="form-control form-control-sm" name="email" type="text" placeholder="Deine Email Adresse" required/>
        </div>
        <div class="col">
        <input class="form-control form-control-sm" name="matric" type="text" placeholder="Matrikelnummer z.B. 01234567"/>
        </div>
        <div class="col">
        <button type="submit" class="form-control form-control-sm btn-dark btn-sm">Abschicken</button>
        </div>
        {% csrf_token %}
      </form>

    {% endif %}
    </div>
      </div>
    </nav>

{% if messages %}
     {% for message in messages %}
       {% if message.level_tag == 'success' %}
      <div class="alert alert-success" role="alert" align="center">
         <span class="text-success small">{{ message }}</span>
      </div>
       {% else %}
      <div class="alert alert-danger" role="alert" align="center">
         <span class="text-error small">{{ message }}</span>
      </div>
       {% endif %}
     {% endfor %}
{% endif %}


    {% block statusbar %}{% endblock %}

    <div class="container">
      <div class="jumbotron">
        <h2>
          {% block sub_header_text %}{% endblock %}
        </h2>
        {% block jumbotron_text %}{% endblock %}
      </div>

      {% block pre_table_info %}{% endblock %}

      <table class="table table-hover" id="exercises">
        <thead class="thead-dark">
          {% block table_head %}{% endblock %}
        </thead>
        <tbody>
          {% block table %}{% endblock %}
        </tbody>
      </table>

      {% block post_table_info %}{% endblock %}
    </div>
  </body>
</html>
