{% extends 'base.html' %}
{% load markdown_extras %}

{% block header%}Programmieraufgabe {{ exercise.number }}{% endblock %}

{% block A %}
<table class="table table-striped" id="exercises">
    <tbody>
        <tr id="highscore">
            <td>Dein Highscore:</td>
            {% if not user.is_authenticated %}
            <td>Du musst dich anmelden um deinen Highscore zu sehen! </td>
            {% elif not result %}
            {% if exercise.expired %}
            <td>Du hast leider keine Abgabe erstellt!</td>
            {% else %}
            <td>Du musst erst eine Abgabe erstellen um deinen Highscore zu sehen!</td>
            {% endif %}
            {% else %}
            <td><a href="{% url "exercises:view_results" exercise.number %}">{{ result.success_rate|floatformat }}%
                    ({{ result.success_count }} von {{ result.test_count }} Tests bestanden)</a></td>
            {% endif %}
        </tr>
        <tr id="id_status">
            <td>Status:</td>
            {% if exercise.expired %}
            <td>Diese Programmieraufgabe ist abgelaufen!</td>

            {% elif exercise.released %}
            <td>Zur Abgabe bereit!</td>
            {% else %}
            <td>Diese Programmieraufgabe ist noch nicht zur Abgabe freigegeben!</td>
            {% endif %}
        </tr>
        <tr id="deadline">
            <td>Deadline:</td>
            <td>{{ exercise.deadline }}</td>
        </tr>
    </tbody>
</table>
<br>
{% if exercise.released and not exercise.expired and user.is_authenticated %}
<form action="{% url "exercises:view_exercise" exercise.number %}" method="POST" enctype="multipart/form-data"
    align="center">
    {% csrf_token %}
    <div class="form-group file">
        <span class="alert alert-secondary" role="alert">
            <label class="control-label">Hier die Datei auswählen: </label>
            {{ form.file }}
        </span>
    </div>
    <button type="submit" style="width:auto" class="form-control btn btn-dark">Abschicken</button>
</form>
<br>
{% endif %}
{% endblock %}

{% block B %}
<span id="id_description">
    {{ exercise.description.path | mdfile2html | safe }}
</span>
{% endblock %}
