{% extends 'base.html' %}
{% load markdown_extras %}
{% load display_file %}

{% block header%}{{ exercise.short_name }}{% endblock %}

{% block A %}
<table class="table table-active table-striped table-sm" id="exercises">
    <tbody>
        <tr id="id_status">
            <td>Status:</td>
            {% if exercise.expired %}
            <td>Diese Programmieraufgabe ist abgelaufen!</td>

            {% elif exercise.released %}
            <td>Zur Abgabe bereit!</td>
            {% else %}
            <td>Diese Programmieraufgabe ist noch nicht zur Abgabe freigegeben!</td>
            {% endif %}
        </tr>
        <tr id="deadline">
            <td>Deadline:</td>
            <td>{{ exercise.deadline }}</td>
        </tr>
            {% if user.is_authenticated and statistics %}
        <tr id="highscore">
            <td>Dein Highscore:</td>
            <td>{{ statistics.success_rate|floatformat }}% ({{ statistics.success_count }} von {{ exercise.max_tests }} Tests bestanden)</td>
        </tr>
            {% endif %}
    </tbody>
</table>
{% if exercise.released and not exercise.expired and user.is_authenticated %}
<br>
<form action="{% url "exercises:view_exercise" exercise.number %}" method="POST" enctype="multipart/form-data"
    align="center">
    {% csrf_token %}
    <div class="form-group file">
        <span class="alert alert-secondary" role="alert">
            <label class="control-label">Hier die Datei auswählen: </label>
            {{ form.file }}
        </span>
    </div>
    <a href="{% url "exercises:view_results" exercise.number %}"><button type="button" style="width:auto" class="form-control btn btn-primary btn-sm">Ergebnisse</button></a>
    <button type="submit" style="width:auto" class="form-control btn btn-dark btn-sm">Abschicken</button>
</form>
<br>
{% endif %}
{% endblock %}

{% block B %}
<span id="id_description">
    {{ exercise.description.path | mdfile2html | safe }}
</span>
{% endblock %}

{% block C %}
{% if resources and user.is_authenticated %}
<div align="center">
<ul class="list-group w-50">
    {% for resource in resources %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ resource.file | basename }}
        <a href="{% url "exercises:download_public_file" resource.pk %}">
            <button class="btn btn-outline-primary mr-3">Download</button>
        </a>
    </li>
    {% endfor %}
</ul>
</div>
<br>
{% endif %}
{% endblock %}
