{% extends 'base.html' %}

{% block sub_header_text %}Übungsseite{% endblock %}

{% block jumbotron_text %}
  Willkommen auf der offiziellen Übungseite der Vorlesung "Programmieren für Sozialwissenschaftler*innen" im Sommersemester 2020!
  <br><br>
  Auf dieser Seite findet ihr die Aufgabenbeschreibungen und Dateien zu allen Übungsaufgaben. Zusätzlich könnt ihr hier eure bearbeiteten Aufgaben hochladen und automatisch testen lassen.
  <br><br>
  In der untenstehenden Tabelle sind alle Programmierübungen aufgelistet. Die blaumarkierte Zeile stellt dabei die derzeitige Aufgabe da, die ihr in dieser Woche bearbeiten sollt. Klickt auf den rechtsstehenden Button, um zu der Aufgabenbeschreibung und Abgabe zu kommen.
{% endblock %}

{% block pre_table_info %}
  {% if exercises|length >= 1 %}
    <h4>Programmieraufgaben:</h4>
  {% else %}
    <h4>Keine Programmieraufgaben!</h4>
  {% endif %}
{% endblock %}


{% block table_head %}
  {% if exercises|length >= 1 %}
    <tr align="center" id="table-header">
        <th scope="col">#</th>
        <th scope="col">Startzeitpunkt</th>
        <th scope="col">Deadline</th>
        <th scope="col">Link</th>
    </tr>
  {% endif %}
{% endblock %}

{% block table %}
  {% for exercise in exercises %}
    {% if exercise.expired %}
      <tr class="table-default" align="center" id_"id_expired_exercise">
          <th scope="row">{{ exercise.number }}</th>
          <td>{{ exercise.release }}</td>
          <td>{{ exercise.deadline }}</td>
          <td><a href="{% url 'exercise:view_exercise' exercise.number %}" id="id_exercise_{{ exercise.number }}">
                  <button type="button" class="btn btn-outline-primary btn-sm">Zur Aufgabe</button>
              </a>
          </td>
      </tr>
    {% elif exercise.released %}
      <tr class="table-primary" align="center" id="id_active_exercise">
          <th scope="row">{{ exercise.number }}</th>
          <td>{{ exercise.release }}</td>
          <td>{{ exercise.deadline }}</td>
          <td><a href="{% url 'exercise:view_exercise' exercise.number %}" id="id_exercise_{{ exercise.number }}">
              <button type="button" class="btn btn-primary btn-sm">Zur Aufgabe</button>
              </a>
          </td>
      </tr>
    {% else %}
      <tr class="table-secondary" align="center" id="id_waiting_exercise">
          <th scope="row">{{ exercise.number }}</th>
          <td>{{ exercise.release }}</td>
          <td>{{ exercise.deadline }} </td>
          <td><button type="button" class="btn btn-secondary btn-sm" disabled>Nicht gestartet</button></td>
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}
