{% extends 'base.html' %}
{% load static %}

{% block sub_header %}Übungsseite{% endblock %}

{% block B %}
Willkommen auf der offiziellen Übungseite der Vorlesung Programmieren für Sozialwissenschaftler*innen im Sommersemester
2020!
<br><br>
Auf dieser Seite findet ihr die Aufgabenbeschreibungen zu allen Übungsaufgaben. Zusätzlich könnt ihr hier eure
bearbeiteten Aufgaben hochladen und automatisch testen lassen. Um Aufgaben abzugeben müsst ihr euch vorher mit eurer
Email-Adresse anmelden. <br>
<i><b>Wichtig:</b> TUM Studierende geben zusätzlich ihre TUM Matrikelnummer an.</i>
{% endblock %}

{% block C %}
{% if exercises|length >= 1 %}
<h4>Programmieraufgaben</h4>
{% else %}
<h4>Keine Programmieraufgaben!</h4>
{% endif %}
{% endblock %}

{% block D %}
<table class="table table-hover" id="exercises">
    <thead class="thead-dark">
        {% if exercises|length >= 1 %}
        <tr id="table-header">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Startzeitpunkt</th>
            <th scope="col">Deadline</th>
            {% if user.is_authenticated %}
            <th scope="col">Punkte</th>
            {% endif %}
            <th scope="col">Link</th>
        </tr>
        {% endif %}
    </thead>
    <tbody>
        {% for exercise in exercises %}
        {% if exercise.expired %}
        <tr class="table-default" id="id_expired_exercise">
            <td scope="row">{{ exercise.number }}</td>
            <td>{{ exercise.short_name }}</td>
            <td>{{ exercise.release }}</td>
            <td>{{ exercise.deadline }}</td>
            {% if user.is_authenticated %}
            <td>{{ exercise.statistics.success_count }} / {{ exercise.statistics.test_count }}</td>
            {% endif %}
            <td><a href="{% url "exercises:view_exercise" exercise.number %}" id="id_exercise_{{ exercise.number }}">
                    <button type="button" class="btn btn-outline-primary btn-sm">Zur Aufgabe</button>
                </a>
            </td>
        </tr>
        {% elif exercise.released %}
        <tr class="table-primary" id="id_active_exercise">
            <td scope="row">{{ exercise.number }}</td>
            <td>{{ exercise.short_name }}</td>
            <td>{{ exercise.release }}</td>
            <td>{{ exercise.deadline }}</td>
            {% if user.is_authenticated %}
            <td>{{ exercise.statistics.success_count }} / {{ exercise.statistics.test_count }}</td>
            {% endif %}
            <td>
                <a href="{% url "exercises:view_exercise" exercise.number %}" id="id_exercise_{{ exercise.number }}">
                    <button type="button" class="btn btn-primary btn-sm">Zur Aufgabe</button>
                </a>
            </td>
        </tr>
        {% else %}
        <tr class="table-secondary" id="id_waiting_exercise">
            <td scope="row">{{ exercise.number }}</td>
            <td>{{ exercise.short_name }}</td>
            <td>{{ exercise.release }}</td>
            <td>{{ exercise.deadline }} </td>
            {% if user.is_authenticated %}
            <td>{{ exercise.statistics.success_count }} / {{ exercise.statistics.test_count }}</td>
            {% endif %}
            <td><button type="button" class="btn btn-secondary btn-sm" disabled>Nicht gestartet</button></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block E %}
{% if user.is_authenticated and exercises|length >= 1 %}
<h5 class="text-secondary">Bisheriger Punktestand: {{ user_points }} P. von insgesamt {{ max_points }} P. (Bisherige Note: {{ grade }})</h5>

<svg id="graph" width="100%" height="220px" onload="drawGraph('{% url "exercises:statistics" %}',{{ user_points }})">
</svg>
{% endif %}
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="{% static "exercises/js/graph.js" %}"></script>
{% endblock %}
