@font-face {
    font-family: "LibreBarcode";
    font-style: normal;
    font-weight: bold;
    src: local("LibreBarcode"),
        url("/static/exercises/fonts/LibreBarcode.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: local("LibreBarcode"),
        url("/static/exercises/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    src: local("LibreBarcode"),
        url("/static/exercises/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: normal;
    src: local("LibreBarcode"),
        url("/static/exercises/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: bold;
    src: local("LibreBarcode"),
        url("/static/exercises/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: normal;
    src: local("Quicksand"),
        url("/static/exercises/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    src: local("Quicksand"),
        url("/static/exercises/fonts/Quicksand-Bold.ttf") format("truetype");
}

body {
    font: 15px Roboto;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

nav h1 a[href] {
    font-family: LibreBarcode;
    text-decoration: none;
    color: white;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Quicksand;
    font-size: 20px;
}

/* Hide arrows from number field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
